PORT=5000
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/Multi_Tenant?retryWrites=true&w=majority
DB_NAME=Multi_Tenant
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1h
CORS_ORIGIN=*
NODE_ENV=development
