PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_K1PzFW7tXxLN@ep-calm-smoke-b48escjw-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=super_secret_jwt_key_multi_tenant_security_platform_2026
JWT_EXPIRES_IN=1h
CORS_ORIGIN=*
NODE_ENV=development
